# https://books.ropensci.org/targets/projects.html#extra-reproducibility
_targets/
targets.log
.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
*.Rproj
*.swp

# default secrets file
secrets.yaml

# Azure batch configuration
batch_config.toml

# rendered documents ignored by default
*.html
*.pdf
*.docx

# Don't track compiled model executables
bin

# Don't track data by default
repo_data/
input/*
output/*

# Do track certain static data
!input/saved_pmfs
!input/locations.csv
!input/params.toml

# Do track the output/forecasts directory
!output/forecasts
!output/forecasts/*

# Do track the output/decision_archive directory
!output/decision_archive
!output/decision_archive/*

# compiled test executables
test/test_expgamma_lpdf

# Test results
*.Rcheck

# Compiled package
*.tar.gz

# emacs tempfile
*#
*~
.#*
.~*

# R tempfiles
Rplots.pdf

# Make sentinel files
.*_up_to_date

# python
__pycache__
*.pyc

# python venv
lib/*
lib64
pyvenv.cfg
bin/*
