# https://books.ropensci.org/targets/projects.html#extra-reproducibility
_targets/
targets.log
.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
*.Rproj
*.swp

# default secrets file
secrets.yaml

# rendered documents ignored by default
*.html
*.pdf
*.docx


# rendered documents ignored by default
*.html
*.pdf
*.docx

# Don't track compiled model executable

cfaforecastrenewalww/inst/stan/renewal_ww_hosp
cfaforecastrenewalww/inst/stan/renewal_ww_hosp_hierarchical_w_dispersion
cfaforecastrenewalww/inst/stan/renewal_ww_hosp_site_level_phi
cfaforecastrenewalww/inst/stan/renewal_ww_hosp_site_level_phi_varying_C
cfaforecastrenewalww/inst/stan/renewal_ww_hosp_hierarchical
cfaforecastrenewalww/inst/stan/renewal_ww_hosp_site_level_inf_dynamics

# Don't track data by default
repo_data/
input/*
output/*

# Do track certain static data
!input/saved_pmfs
!input/locations.csv
!input/params.toml

# Do track the output/forecasts folder,
# including .yaml within it
!output/forecasts
!output/forecasts/*.yaml

# compiled test executables
test/test_expgamma_lpdf

# Test results
*.Rcheck

# Compiled package
*.tar.gz

# emacs tempfile
*#
*~
.#*
.~*

# R tempfiles
Rplots.pdf
